.tech-detail-container {
    width: 35%; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff;
}


.tech-detail-image {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    border: 1px solid 
}


.tech-detail-content {
    font-family: 'Lora', serif; 
    font-size: 18px; 
    line-height: 1.6; 
    color: #333; 
    margin-bottom: 20px; 
    
}


.tech-detail-container a {
    text-decoration: none;
    color: #1a73e8; 
    font-weight: bold;
}

.tech-detail-container a:hover {
    color: #555; 
}
