{% extends 'geekfeed/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'geekfeed/css/change_password.css' %}">
</head>

<body>
  <div class="change-password-box">
    <h2>Cambiar Contraseña</h2>
  
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  
    <form method="POST">
      {% csrf_token %}
      
      <div class="user-box">
        <input type="password" name="old_password" required>
        <label for="old_password">Contraseña Actual</label>
      </div>
  
      <div class="user-box">
        <input type="password" name="new_password" required>
        <label for="new_password">Nueva Contraseña</label>
      </div>
  
      <div class="user-box">
        <input type="password" name="confirm_new_password" required>
        <label for="confirm_new_password">Confirmar Nueva Contraseña</label>
      </div>
  
      <button type="submit">Cambiar Contraseña</button>
    </form>
  
    <p><a class="a2" href="{% url 'dashboard' %}">Volver al Dashboard</a></p>
  </div>

</body>
<div>

{% endblock %}
